@tailwind base;
@tailwind components;
@tailwind utilities;

.heart {
  position: absolute;
  animation: float 8s infinite ease-in-out;
  color: #f472b6;
  /* soft pink */
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-100px) scale(1.2);
    opacity: 0.7;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}